# Connexion Postgres (Vercel Postgres ou local)
DATABASE_URL="your_database_url_here"

# Clé de chiffrement (32 bytes = 64 hex characters si vous utilisez hex)
# Ou 32 caractères ASCII simples.
ENCRYPTION_KEY="your_encryption_key_here"

# QStash (Récupérer sur console.upstash.com)
QSTASH_URL="your_qstash_url_here"
QSTASH_TOKEN="your_qstash_token_here"
QSTASH_CURRENT_SIGNING_KEY="your_current_signing_key_here"
QSTASH_NEXT_SIGNING_KEY="your_next_signing_key_here"

# URL de l'application (Pour que QStash sache où taper)
# En local, mettez votre URL Ngrok
APP_URL="your_app_url_here"